body.login-pf {
    background: url("bg-login.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #101010;
}

#badge {
    width: 225px;
    height: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
    content: "<b>${PRETTY_NAME}</b>";
}

#index-brand {
    content: "<b>${PRETTY_NAME}</b>";
}
