---
name: Check patch

permissions:
  pull-requests: read
  contents: read

on:
  push:
  pull_request:

jobs:
  build-el8:

    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream8

    steps:
    - name: prepare env
      run: |
          echo ${{ github.base_ref }}
          echo ${{ github.ref }}
          mkdir -p ${PWD}/tmp.repos/BUILD
          yum install -y --setopt=tsflags=nodocs autoconf automake gettext-devel git systemd make git rpm-build

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: autoreconf
      run: autoreconf -ivf

    - name: configure
      run: ./configure

    - name: run distcheck
      run: make -j distcheck

    - name: Build RPM
      run: rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .$(date -u +%Y%m%d%H%M%S).git$(git rev-parse --short HEAD)" -ta ovirt-release*.tar.gz

    - name: Collect artifacts
      run: |
          mkdir -p exported-artifacts
          find tmp.repos -iname \*rpm -exec mv "{}" exported-artifacts/ \;
          mv ./*tar.gz exported-artifacts/

    - name: install master built rpm
      # On master the release rpm is named ovirt-release-master
      # The build produce also other packages like ovirt-release-host-node
      # which require the repos to be enabled by the ovirt-release-master package
      # in order to be installable.
      run: |
          yum install -y exported-artifacts/ovirt-release-master-4*noarch.rpm

    - name: test project installation
      run: |
          yum module enable -y javapackages-tools:201801
          yum module enable -y maven:3.5
          yum module enable -y pki-deps:10.6
          yum module enable -y postgresql:12
          yum --downloadonly install -y exported-artifacts/*noarch.rpm
          yum --downloadonly install -y ovirt-engine ovirt-engine-setup-plugin-websocket-proxy

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: exported-artifacts/


  build-el9:
    # Building only on master as we don't support el9 in 4.4.
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    if: contains(github.base_ref, 'master') || contains(github.ref, 'master')
    steps:
    - name: prepare env
      run: |
          mkdir -p ${PWD}/tmp.repos/BUILD
          yum install -y --setopt=tsflags=nodocs autoconf automake gettext-devel git systemd make git rpm-build

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: autoreconf
      run: autoreconf -ivf

    - name: configure
      run: ./configure

    - name: run distcheck
      run: make -j distcheck

    - name: Build RPM
      run: rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .$(date -u +%Y%m%d%H%M%S).git$(git rev-parse --short HEAD)" -ta ovirt-release*.tar.gz

    - name: Collect artifacts
      run: |
          mkdir -p exported-artifacts
          find tmp.repos -iname \*rpm -exec mv "{}" exported-artifacts/ \;
          mv ./*tar.gz exported-artifacts/

    - name: test install
      run: |
          yum install -y exported-artifacts/ovirt-release-master-4*noarch.rpm
          yum --downloadonly install -y exported-artifacts/*noarch.rpm

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: exported-artifacts/
