---
name: Check patch

permissions:
  pull-requests: read
  contents: read

on:
  push:
  pull_request:

jobs:
  build-el9:
    # Building only on master as we don't support el9 in 4.4.
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    if: contains(github.base_ref, 'master') || contains(github.ref, 'master')
    steps:
      - name: Prepare env
        run: |
            mkdir -p ${PWD}/tmp.repos/BUILD
            dnf distro-sync -y
            dnf install -y --setopt=tsflags=nodocs autoconf automake gettext-devel git systemd make git rpm-build

      - uses: ovirt/checkout-action@main
        with:
          fetch-depth: 0

      - name: Mark git repo as safe
        run: git config --global --add safe.directory $(pwd)

      - name: Autoreconf
        run: autoreconf -ivf

      - name: Configure
        run: ./configure

      - name: Run distcheck
        run: make -j distcheck

      - name: Build RPM
        run: |
            mkdir -p ${PWD}/tmp.repos/SOURCES
            cp ovirt-release*.tar.gz ${PWD}/tmp.repos/SOURCES
            SUFFIX=$(date -u +%Y%m%d%H%M%S).git$(git rev-parse --short HEAD)
            rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release-master.spec
            rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release-host-node.spec

      - name: Collect artifacts
        run: |
            mkdir -p exported-artifacts
            find tmp.repos -iname \*rpm -exec mv "{}" exported-artifacts/ \;
            mv ./*tar.gz exported-artifacts/

      - name: Test install
        run: |
            dnf install -y exported-artifacts/ovirt-release-master-4*noarch.rpm
            dnf --downloadonly install -y exported-artifacts/*noarch.rpm exported-artifacts/*x86_64.rpm

      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@main
        with:
          directory: exported-artifacts
