---
name: Check patch

permissions:
  pull-requests: read
  contents: read

on:
  push:
  pull_request:

jobs:
  build-el8:

    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream8

    steps:
    - name: prepare env
      run: |
          echo ${{ github.base_ref }}
          echo ${{ github.ref }}
          mkdir -p ${PWD}/tmp.repos/BUILD
          yum install -y --setopt=tsflags=nodocs autoconf automake gettext-devel git systemd make git rpm-build

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: autoreconf
      run: autoreconf -ivf

    - name: configure
      run: ./configure

    - name: run distcheck
      run: make -j distcheck

    - name: Build RPM
      run: |
          mkdir -p ${PWD}/tmp.repos/SOURCES
          cp ovirt-release*.tar.gz ${PWD}/tmp.repos/SOURCES/
          SUFFIX=$(date -u +%Y%m%d%H%M%S).git$(git rev-parse --short HEAD)
          rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release45.spec
          rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release-host-node.spec

    - name: Collect artifacts
      run: |
          mkdir -p exported-artifacts
          find tmp.repos -iname \*rpm -exec mv "{}" exported-artifacts/ \;
          mv ./*tar.gz exported-artifacts/

    - name: install master built rpm
      # On master the release rpm is named ovirt-release45
      # The build produce also other packages like ovirt-release-host-node
      # which require the repos to be enabled by the ovirt-release45 package
      # in order to be installable.
      run: |
          yum install -y exported-artifacts/ovirt-release45-4*noarch.rpm

    - name: test project installation
      run: |
          yum module enable -y javapackages-tools:201801
          yum module enable -y maven:3.5
          yum module enable -y pki-deps:10.6
          yum module enable -y postgresql:12
          yum --downloadonly install -y exported-artifacts/*noarch.rpm exported-artifacts/*x86_64.rpm
          yum --downloadonly install -y ovirt-engine ovirt-engine-setup-plugin-websocket-proxy
          yum --downloadonly install -y ovirt-engine-appliance

    - name: Upload artifacts
      uses: ovirt/upload-rpms-action@v1
      with:
        directory: exported-artifacts
        distro: el8stream


  build-el9:
    # Building only on master as we don't support el9 in 4.4.
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    if: contains(github.base_ref, 'master') || contains(github.ref, 'master') || contains(github.base_ref, 'ovirt-4.5') || contains(github.ref, 'ovirt-4.5')
    steps:
      - name: Use legacy cryptopolicy
        # as workaround for https://bugzilla.redhat.com/show_bug.cgi?id=2059101
        # until https://pagure.io/copr/copr/issue/2106 is fixed
        #
        # until crypto-policies-20220223-1.git5203b41 lands on mirrors
        run: |
            dnf upgrade -y \
              https://kojihub.stream.centos.org/kojifiles/packages/crypto-policies/20220223/1.git5203b41.el9/noarch/crypto-policies-20220223-1.git5203b41.el9.noarch.rpm \
              https://kojihub.stream.centos.org/kojifiles/packages/crypto-policies/20220223/1.git5203b41.el9/noarch/crypto-policies-scripts-20220223-1.git5203b41.el9.noarch.rpm
            dnf upgrade -y crypto-policies-scripts crypto-policies
            update-crypto-policies --set LEGACY

      - name: prepare env
        run: |
            mkdir -p ${PWD}/tmp.repos/BUILD
            yum install -y --setopt=tsflags=nodocs autoconf automake gettext-devel git systemd make git rpm-build

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: autoreconf
        run: autoreconf -ivf

      - name: configure
        run: ./configure

      - name: run distcheck
        run: make -j distcheck

      - name: Build RPM
        run: |
            mkdir -p ${PWD}/tmp.repos/SOURCES
            cp ovirt-release*.tar.gz ${PWD}/tmp.repos/SOURCES
            SUFFIX=$(date -u +%Y%m%d%H%M%S).git$(git rev-parse --short HEAD)
            rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release45.spec
            rpmbuild -D "_topdir ${PWD}/tmp.repos" -D "release_suffix .${SUFFIX}" -ba ovirt-release-host-node.spec

      - name: Collect artifacts
        run: |
            mkdir -p exported-artifacts
            find tmp.repos -iname \*rpm -exec mv "{}" exported-artifacts/ \;
            mv ./*tar.gz exported-artifacts/

      - name: test install
        run: |
            yum install -y exported-artifacts/ovirt-release45-4*noarch.rpm
            yum --downloadonly install -y exported-artifacts/*noarch.rpm exported-artifacts/*x86_64.rpm

      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@v1
        with:
          directory: exported-artifacts
          distro: el9stream
